<article class='container'>
  <h1 id='title'>rl-year-picker Demo</h2>

  <p>The documentation for this component is available
    <a href="https://github.com/rsschermer/ember-rl-month-picker">here</a>.
  </p>

  <p>The source for this demo is available
    <a href="https://github.com/rsschermer/ember-rl-month-picker/tree/gh-pages/demo-app">here</a>.
  </p>

  <p>The left month picker is in standard mode, the right is using flat mode. Both month pickers are bound to the same
    year and monthNumber properties on the controller, so if one changes, the other changes as well.
  </p>

  <p>{{rl-month-picker year=year monthNumber=monthNumber}}</p>

  <p>{{rl-month-picker year=year monthNumber=monthNumber flatMode=true}}</p>
</article>
